<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOBOT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href=" {{ url_for('static', path= 'css/dobot.css')}}">
    <link rel="icon" href="{{ url_for('static', path='/images/chatbot.png') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}

</head>
<body>
    {% block content %}
    {% endblock %}



</body>
</html>
<!--여기다가 나중에 위에 상단바 같은거 만들어서 넣고 상속 받게 하면 되겠다 -->