<!-- chat.html -->
{% extends "header.html" %}

{% block title %}
Chat
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path= 'css/chat.css')}}">
<script src="{{ url_for('static', path= 'js/chat.js')}}"></script>
{% endblock %}
{% block content %}
    <main>
        <div id="chat-container">
            <!-- 채팅창 -->
            <div id="chat-box">



                <!-- 채팅 메시지가 표시 -->

                <!-- spinner -->
                <div class="spinner-container">
                    <div class="spinner" id="spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

            </div>
            <!-- 입력창 -->
            <div class="chat-input-container">
                <textarea id="chat-input" placeholder="메시지를 입력하세요..."></textarea>
                <button id="send-btn">
                    <img src="{{ url_for('static', path= 'images/send.png')}}" alt="send" width="30" height="30">
                </button>
            </div>

        </div>
    </main>
{% endblock %}
{% block footer%}
    {{ super() }}
{% endblock %}