<html>

<head>
    <title></title>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="import" href="http://www.polymer-project.org/components/paper-ripple/paper-ripple.html">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path= 'css/ladder.style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path= 'css/ladder.meterial.css')}}">
    <script src="{{ url_for('static', path= 'js/ladder.jquery-2.1.3.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<header id="head" class="header_nav">
    <div class="inner_header">
        <div class="col order-first" id="list">
            <!-- 슬라이드 목록버튼 -->
            <h2 class="list_btn">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                    <img src="{{ url_for('static', path= 'images/list_icon.png')}}" width="40px;"></button>
            </h2>

            <!-- 로고 -->
            <h1 class="logo">
                <a href="/"><img src="{{ url_for('static', path= 'images/logo2.png')}}" width="110px;"></a>
            </h1>
        </div>

        <!--nav1 -->
        <div class="col-md-6 justify-content-center">
            <nav id="nav1" class="nav1">
                <ul class="nav1_list">
                    <li><a href="menu">메뉴 추천</a></li>
                    <li><a href="map">지도</a></li>
                    <li><a href="game">게임</a></li>
                </ul>
            </nav>
        </div>

        <!--nav2-->
        <div class="col order-last justify-content-end">
            <nav id="nav2" class="nav2">
                <ul class="nav2_list">
                    <li><a href="login">login</a></li>
                    <li><a href="join">signup</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- 슬라이드바 -->
    <div class="offcanvas offcanvas-start" id="demo">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">{{message}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <p>마이페이지.</p>
            <a href="review">
                <p>채팅 로그</p>
            </a>
            <p>.</p>
            <p>Some text lorem ipsum.</p>
            <button class="btn btn-secondary" type="button">A Button</button>
        </div>
    </div>
</header>
    <div class="landing" id="landing">
        <div class="start-form">
            <div class="landing-form">
                <div class="group">
                    <input type="text" name="member" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>참여자 수</label>
                    <div id="button" class="button raised green">
                        <div class="center" fit>게임 시작</div>
                        <paper-ripple fit></paper-ripple>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ladder" class="ladder">
        <div class="dim"></div>
        <canvas class="ladder_canvas" id="ladder_canvas"></canvas>
    </div>
    <script src="{{ url_for('static', path= 'js/ladder.js')}}"></script>
</body>

</html>