{% extends 'header.html' %}

{% block title %}DOBOT{% endblock %}



{% block content %}
    <main id="homemain" class="cont_main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="carousel">
                        <div class="carousel-container">
                            <!-- Your carousel content goes here -->
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src=" {{ url_for('static', path= 'images/dog.png')}}" class="d-block w-100" alt="dog">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>나 귀엽지?</h5>
                                            <p>엉니야~ 나랑 놀자</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src=" {{ url_for('static', path= 'images/food.png')}}" class="d-block w-100" alt="food">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Second slide label</h5>
                                            <p>Some representative placeholder content for the second slide.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src=" {{ url_for('static', path= 'images/map.png')}}" class="d-block w-100" alt="map">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>Third slide label</h5>
                                            <p>Some representative placeholder content for the third slide.</p>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="dobot" id="newChatBtn">Go to New Chat</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <div class="relative px-2 py-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-[60px]">
            <span>DOBOT can make mistakes. Consider checking important information.</span>
            <p>&copy; made by DO(DONGWOOK WITH ONEPIECE)</p>
        </div>
    </footer>

    <script src=" {{ url_for('static', path= 'js/home.js')}}"></script>
{% endblock %}