{% extends 'header.html' %}
 
{% block title %}DOBOT{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', path= 'css/home.css')}}">



{% block content %}
<main id="homemain" class="cont_main">
    <div class="container">
        <div class="carousel">
            <div class="carousel-container">
                <!-- carousel content  -->
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="game"><img src="{{ url_for('static', path= 'images/game.png')}}" class="d-block w-100" alt="game"></a>
                            <div class="carousel-caption d-none d-md-block"></div>
                        </div>
                        <div class="carousel-item">
                            <a href="menu"><img src="{{ url_for('static', path= 'images/food.png')}}" class="d-block w-100" alt="food"></a>
                            <div class="carousel-caption d-none d-md-block"></div>
                        </div>
                        <div class="carousel-item">
                            <a href="map"><img src="{{ url_for('static', path= 'images/map.png')}}" class="d-block w-100" alt="map"></a>
                            <div class="carousel-caption d-none d-md-block"></div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>

    </div>
    <div class="container">

        <h3><a href="chat" id="newChatBtn">Go to New Chat</a></h3>

    </div>
</main>


{% endblock %}

{% block footer %}
{{ super() }}
    <script src=" {{ url_for('static', path= 'js/home.js')}}"></script>
{% endblock %}
