<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='/images/logo.png') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>회원가입</title>
</head>
<body>
    <div class="input-container">
        <input type="text" id="login" placeholder="아이디">
        <input type="text" id="password" placeholder="비밀번호">
        <input type="text" id="name" placeholder="이름">
        <button id=toyou>회원가입</button>
    
</body>
<script src="{{ url_for('static', path= 'js/join.js') }}"></script>








    </script>
</html>