<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='/images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', path= 'css/signup.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>회원가입</title>
</head>

<body>
    <div class="signup-container">
        <h2>Sign up</h2>
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" id="userId"></td>
            </tr>
            <tr>
                <td><p id  = "id_check"></p></td>
                <td><span><button type="button" id = "check_button">중복확인</button></span></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="userPassword"></td>
                
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="check_password"></td>
                <td><p id  = "pw_check"></p></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="name" id="username"></td>
            </tr>
        </table>
        <button id ="toyou">Sign Up</button>
    </div>
<script src="{{ url_for('static', path= 'js/join.js') }}"></script>

    
</body>


</html>