<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href=" {{ url_for('static', path= 'css/login.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="icon" href="{{ url_for('static', path='/images/logo.png') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header id="head" class="header_nav">
        <div class="inner_header">
            <div class="col order-first" id="list">
                <!-- 슬라이드 목록버튼 -->
                <h2 class="list_btn">
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                        <img src=" {{ url_for('static', path= 'images/list_icon.png')}}" width="40px;"></button>
                </h2>
                <h1 class = "logo">
                    <a href="/" alt="home"><img src=" {{ url_for('static', path= 'images/logo.png')}}" height="100px"></a>
                    </h1>
                </div>
                <div class="offcanvas offcanvas-start" id="demo">
                    <div class="offcanvas-header">
                        <h1 class="offcanvas-title">로그인을 해주세요</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p>Some text lorem ipsum.</p>
                        <p>Some text lorem ipsum.</p>
                        <p>Some text lorem ipsum.</p>
                        <button class="btn btn-secondary" type="button"></button>
                    </div>
                </div>
                </div>
                </header>
    

    <main>
        <div id="login-container">
            <h2 id="login-header">로그인</h2>

            <!-- 만약 사용할 수 없는 아이디나 비밀번호이면... -->
            <!-- 경고 상자 placeholder -->
            <div class="alert-placeholder"></div>

            <!-- 기존의 경고 상자 -->
            <div class="alert alert-danger" role="alert" style="display: none;">
                <p id="login-error-msg">사용할 수 없는 아이디나 비밀번호입니다<span> 다시 한번 확인해주세요</span></p>
            </div>


            <!-- 로그인 입력창 -->
            <div class="login-input container">
                <div id="login-form">
                    <input type="text" name="id" id="username-field" class="login-form-field" placeholder="ID">
                    <input type="password" name="password" id="password-field" class="login-form-field"
                        placeholder="Password">
                </div>
            </div>


            <div class="btn-container">
                    <!-- 버튼을 삽입해 자바스크립트 실행하기 -->
                    <input type="submit" value="로그인" id="login-btn" >
                    <small>아직 회원이 아니신가요?</small>
                    <input type="submit" value="회원가입" id="signup-btn">
            </div>
        </div>
    </main>


    <footer>
        <!-- Your footer content goes here -->
        <div class="relative px-2 py-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-[60px]">
            <span>DOBOT can make mistakes. Consider checking important information.</span>
            <p>&copy; made by DO(DONGWOOK WITH ONEPIECE)</p>
        </div>
        <script src=" {{ url_for('static', path= 'js/login.js')}}"></script>
    </footer>
</body>

</html>