<!-- review.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', path='/images/logo.png') }}" type="image/x-icon">
    <title>Review</title>
    <!-- 필요한 스타일이나 스크립트를 추가할 수 있습니다. -->
</head>

<body>
    <div>
        <h1>Review</h1>
        <ul>
            {% for user_info in user_info_list %}
            <li>
                <p id = "message">내가보낸 메세지: {{ user_info.user_message }}</p>
                <p id = "answer">대답: {{ user_info.user_answer }}</p>
                <p id = "date" >날짜: {{ user_info.user_date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>