<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href=" {{ url_for('static', path= 'css/signup.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src=" {{ url_for('static', path= 'js/join.js')}}"></script>
    <link rel="icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/x-icon">
</head>

<body>
    <header id="head" class="header_nav">
        <div class="inner_header">
            <div class="col order-first" id="list">
                <!-- 슬라이드 목록버튼 -->
                <h2 class="list_btn">
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                        <img src=" {{ url_for('static', path= 'images/list_icon.png')}}" width="40px;"></button>
                </h2>
                <!-- 로고 -->
                <h1 clss="logo">
                    <a href="/"><img src=" {{ url_for('static', path= 'images/logo2.png')}}" width="110px;"></a>
                </h1>
            </div>

            <!-- 슬라이드바 -->
            <div class="offcanvas offcanvas-start" id="demo">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title">{{message}}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
                <div>===================================</div>
                <div class="offcanvas-body">
                    <h4>마이페이지</h4>
                    <li>개인정보</li>
                    <li>자주가는 장소</li>
                    <br><br><br><br>
                    <h4>결제내역</h4>
                    <li>주문내역</li>
                    <li>장바구니</li>
                    <li>결제방법</li>
                    <br><br><br><br>
                    <!-- <h4><a href="review">문의하기</a></h4> -->
            
                </div>
            </div>
            </div>
            </div>
            </header>
    <main>
        <div id="sign-container">
            <h2 id="sign-header">회원가입</h2>

            <!-- 회원가입 입력창 -->
            <div class="sign-input container">
                <div id="sign-form">
                    <div class="id_check">
                        <input type="text" name="id" id="username-field" class="sign-form-field" placeholder="ID">
                        <button type="hidden" id="id_check-form-submit">중복확인</button>
                    </div>
                    <p id = "id_check"></p>
                    <input type="password" name="password" id="password-field" class="sign-form-field"
                        placeholder="Password">
                    <input type="password" name="password_check" id="password-field_check" class="sign-form-field"
                        placeholder="Password">
                    <p id = "pw_check"></p>
                    <input type="username" name="name" id="name-field" class="sign-form-field" placeholder="Name">
                </div>
            </div>


            <div class="btn-container">
                <input type="button" value="회원가입" id="signup-btn">
            </div>
        </div>
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <div class="relative px-2 py-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-[60px]">
            <span>DOBOT can make mistakes. Consider checking important information.</span>
            <p>&copy; made by DO(DONGWOOK WITH ONEPIECE)</p>
        </div>
    </footer>
</body>

</html>