html {
    height: 100%;
}


body {
    height: 100%;
    /* display: grid; */
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Kakao, 맑은 고딕, Malgun Gothic, Apple SD Gothic Neo, 돋움, dotum, sans-serif;
    -webkit-text-size-adjust: none;
}

/* 로고가 있는 헤더 */
header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inner_header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1296px;
    margin: 0 auto;
    padding: 19px 0;
    background: #fff;
    position: relative;
    z-index: 1000;
}

#list {
    display: flex;
}


.list_btn {
    display: flex;
    align-items: center;
}

.list_btn .btn {
    padding: 0px 25px;
}

#nav1,
#nav2 {
    display: flex;
    justify-content: center;
}

/*최소 크기 : 줄여도 글자가 재졍렬 되지 않을 크기*/
#nav2{
    min-width: 260px;   
}
#nav1{
    min-width:500px;
}

#nav1 ul,
#nav2 ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#nav1 li {
    list-style: none;
    margin-right: 50px;
    font-size: 15px;
    font-weight: 700;
}

#nav2 li {
    list-style: none; 
}



/* 현재 페이지에 대한 메뉴 표시 */
#nav1 li a[aria-current="page"] {
    text-decoration: none;  /*클릭시 밑줄 없애기*/
    color: darkkhaki;
    transition: color 0.3s;
    display: block;
    padding: 5px 10px;


}

#nav1 li a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    display: block;
    padding: 5px 10px;
}
#nav2 li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    display: block;
    padding: 5px 10px;
    margin-right: 20px;
}

#nav1 li a:hover,
#nav2 li a:hover {
    color: #555;
}


/* 메인(바디) */
main {
    /* margin-top: 0px; 
    margin-top: 60px;
    margin-bottom: 60px;
    height: auto; */
    padding: 10px;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 0 auto;
    width: 100%;

}

@media(max-width:890px){
    #login-container{
        width: 350px;
    }
}


/* 로그인 박스 */
#login-container {
    width: 40%;
    height: 600px;
    display: grid;
    /* align-content:space-around; */
    justify-items: center;
    /* align-items: center; */
    border-radius: 7px;
    box-shadow: 0px 0px 2px 2px black;
}

#login-header {
    display: grid;
    align-content: center;
}

/* 로그인 알림창 */

/* 경고 상자 placeholder */
.alert-placeholder {
    height: 120px;
    /* 경고 상자와 동일한 높이 */
    width: 330px;
    /* 경고 상자와 동일한 너비 */
    margin-top: 40px;
    visibility: hidden;
    /* 보이지 않도록 설정 */
}

/* 수정된 경고 상자 */
.alert-danger {
    height: 120px;
    width: 330px;
    margin-top: 40px;
    /* 기타 스타일... */
}

#login-error-msg {
    margin-top: 25px;

}

/* 로그인 입력창 */
.login-input container {
    position: fixed;
}

/* 로그인 */
#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

/* 아이디, 비밀번호 입력하는 곳 */
#username-field,
#password-field {
    width: 300px;
    height: 50px;
}

.login-form-field {
    border: none;  /*밑에만 나오게한다*/
    border-bottom: 1px solid #3a3a3a;  /*두께*/
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}


/* 입력창에 holder */
.login-form-field::placeholder {
    color: #3a3a3a;
}





/* 버튼 컨테이너 */
.btn-container {
    width: 100%;
    display:grid;
    align-content:center;
    justify-items: center;

}

#signup-text {
    display: inline-block;   /* 인라인 블록 요소로 변경 */
    margin-left: 320px;      /* 버튼과의 간격 조정 */
    vertical-align: bottom;   /* 버튼의 하단과 정렬 */
    padding-bottom: 3px;
    
}


#login-btn, #signup-btn {

    width: 300px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

/* hover색입히기 */
#signup-btn:hover{
    color:darkkhaki;
}

#login-btn:hover{
    color:darkkhaki;
}

/* footer */
footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 10px;
}