
/* .card{
    width: 500px;
   
} */
.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    /* box-shadow: 0 0 2px #b3acac; */
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }

 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 500px;
    
    
}

#review{
    border-radius: 5px;
    /* flex:1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-btn{
    border-radius: 5px;
    background-color:rgb(225, 226, 185);
    float: right;
}