/* body {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
 } */

.card{
    width: 300px;
    height: 100px;
    margin: 0 auto;
 }

 .rating {
    position: relative;
    width: 250px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    /* border-radius: 20px; */
    /* box-shadow: 0 0 2px #b3acac; */  /*테두리*/
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color:  gray;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#review{
    border-radius: 5px;
    flex:1;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#review-btn{
    border-radius: 5px;
}