/* CARD HEADERr */
.container{
    display : flex;  /*자식 요소들을 수평으로 정렬*/
    align-items : center;  /* 수직으로 중앙 정렬*/
}
#full{
    display : flex;
    justify-content: center;
}
/* CARD BODY */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container-1 {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto; /* 스크롤이 필요한 경우만 표시되도록 설정 */
    display: flex; /* 부모 컨테이너를 flex로 설정 */
    flex-direction: column; /* 자식 요소를 세로로 정렬 */
}

.message-container-1,
.message-container-2 {
    margin-bottom: 10px;
    overflow: hidden;
}

.user-message,
.bot-message {
    background-color: #e0f7fa;
    padding: 8px;
    border-radius: 10px;
}

.user-message {
    align-self: flex-start; /* 사용자 메시지를 왼쪽 정렬 */
}

.bot-message {
    align-self: flex-end; /* 봇 메시지를 오른쪽 정렬 */
}
/*FOOTER안 입력창*/
.chat-container-2 {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
}

img{
    float: right;
}