<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴추천</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/templete/css/menu.css">
</head>

<body>
    <header id="head" class="header_nav">
        <div class="inner_header">
            <div class="col order-first" id="list">
                <!-- 슬라이드 목록버튼 -->
                <h2 class="list_btn">
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                        <img src="/images/list_icon.png" width="40px;"></button>
                </h2>


                <!-- 로고 -->
                <h1 clss="logo">
                    <a href="/templete/html/home.html"><img src="/images/logo2.png" width="110px;"></a>
                </h1>
            </div>


            <!--nav1 -->
            <div class="col-md-6 justify-content-center">
                <nav id="nav1" class="nav1">
                    <ul class="nav1_list">
                        <li><a href="menu.html" aria-current="page">메뉴 추천</a></li>
                        <li><a href="map.html">지도</a></li>
                        <li><a href="game.html">게임</a></li>
                    </ul>
                </nav>
            </div>

            <!--nav2-->
            <div class="col order-last justify-content-end">
                <nav id="nav2" class="nav2">
                    <ul class="nav2_list">
                        <li><a href="login.html">login</a></li>
                        <li><a href="sign.html">signup</a></li>
                        <!-- <li><a href="home.html">home</a></li> -->
                    </ul>
                </nav>
            </div>

        </div>
        <!-- 슬라이드바 -->
        <div class="offcanvas offcanvas-start" id="demo">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">DO님 안녕하세요</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <p>Some text lorem ipsum.</p>
                <p>Some text lorem ipsum.</p>
                <p>Some text lorem ipsum.</p>
                <button class="btn btn-secondary" type="button"></button>
            </div>
        </div>
        </div>
    </header>

    <div id="app">
        <h1>오늘은 뭐 먹을까?</h1>
        <div class="input-item">
            <input type="number" v-model="numberOfItems" placeholder="항목 수 입력" class="input">
            <button @click="initializeItems" id = "count-btn">갯수설정</button>
            <input type="text" v-model="userInput" placeholder="메뉴 입력" class="input">
            <button @click="updateItem" id="plus-btn">추가하기</button>
        </div>
        
        <div class="roulette-outer">
            <div class="roulette-pin"></div>
            <div class="roulette" v-bind:style="rouletteStyle">

                <!-- 값 영역 -->
                <div class="item-wrapper">
                    <div class="item" v-for="(item,index) in items" v-bind:style="itemStyles[index]">
                        {{item.value}}
                    </div>
                </div>

                <!-- 선 영역 -->
                <div class="line-wrapper">
                    <div class="line" v-for="(item,index) in items" v-bind:style="lineStyles[index]"></div>
                </div>

            </div>
            <button class="play-btn" v-on:click="play">Play!</button>
        </div>
    </div>

    <footer>
        <!-- Your footer content goes here -->
        <div class="relative px-2 py-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-[60px]">
            <span>DOBOT can make mistakes. Consider checking important information.</span>
            <p>&copy; made by DO(DONGWOOK WITH ONEPIECE)</p>
        </div>
    </footer>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="/templete/js/menu.js"></script>

</body>

</html>