<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  <!--인코딩-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- initial-scale=1.0: 브라우저가 페이지를 처음 로드할 때 초기, 축소 설정-->
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!--mt-2 : margin top의 크기가 2이다(0~5크기가 있고 5가 가장 크다)-->
    <div class="container p-3">  <!--p-3 : padding 사이즈-->
        <div class="container p-3 my-3 border bg-dark text-white">  <!--my-3 : margin 사이즈-->
            <h1>ONEPIECE</h1>
            <p><mark>파워레인저 옐로우</mark></p>
            <p>with 김동욱 멘토님</p>
        </div>
    </div>
    <!--Control the column width, and how they should appear on different devices -->
<!--(기본)열의 개수대로 col을 만들어준다-->
    <div class="row">
        <div class="col">팀장</div>
        <div class="col">백엔드</div>
        <div class="col">백엔드</div>
        <div class="col">백엔드</div>
        <div class="col">프론트엔드</div>
    </div>

    <div class="row">
        <div class="col">김성준</div>
        <div class="col">양우철</div>
        <div class="col">박호균</div>
        <div class="col">정소이</div>
        <div class="col">윤혜민</div>
    </div>

<!--(반응형)열의 개수대로 col을 만들어준다-->
    <div class="row">
        <div class="col-md-3">팀장</div>
        <div class="col-md-3">백엔드</div>
        <div class="col-md-3">백엔드</div>
        <div class="col-md-3">백엔드</div>
        <div class="col-md-3">프론트엔드</div>
    </div>

<!--두 개의 동일하지 않은 반응 열-->
    <div class="row">
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-8">.col-sm-8</div>
    </div>

    <!-- Or let Bootstrap automatically handle the layout -->
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div>
        ====================================================================================================================================================
    </div>

    <!--타이포그래피-->
    <div class = "container">
        <div class = "row">
            <!--col-md-6 클래스는 컨테이너를 반으로 나누는 역할을 합니다.
            md는 중간 크기의 화면 이상에서 적용되며, 6은 12칸 그리드 시스템에서 절반-->
            <div class = "col-md-4">
                <h1>11월 2일</h1>
                <small><abbr title = "Thursday">목요일</abbr></small>
                <h5>- 앞으로 월요일송 <mark>5번</mark> 남음
                </h5>
            </div>

            <div class = "col-md-4">
                <h1>MUSIC</h1>
                <p>오늘의 음악 추천:</p>
                <dl>
                    <dt>우리의 계절</dt>
                    <dd>- nct dream</dd>
                    <dt>손오공</dt>
                    <dd>- 세븐틴</dd>
                </dl>
            </div>

            <div class = "col-md-4">
                <h1>불투명도 테스트</h1>
                <p class = "text-black-50">검정 글씨를 50% 투명도를 줄거야 하얀색 배경에</p>
                <p class = "text-white-50 bg-dark">흰색 글씨를 50% 투명도를 줄거야 검은색 배경에</p>
            </div>
        </div>

    </div>

    <div class = "container">
        <div class = "row">
            <div class = "col-md-6">
                <div class = "container mt-3">
                    <table class = "table table-striped">  <!--zebra-striped rows-->
                        <thead><!--컬럼제목-->
                            <tr><!--행추가-->
                                <th>음식</th>
                                <th>음식점</th>
                                <th>재료</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><!--행을 추가-->
                                <td>김밥</td>
                                <td>후토루</td>
                                <td>연어, 김, 밥, 채소</td>
                            </tr>
                            <tr><!--행을 추가-->
                                <td>자장면</td>
                                <td>아리산</td>
                                <td>삼겹살, 고추, 밀가루, 자장</td>
                            </tr>
                            <tr><!--행을 추가-->
                                <td>돈까스</td>
                                <td>동백카츠</td>
                                <td>안심, 등심, 항정살, 밥, 채소</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class = "col-md-6">
                <div class = "container mt-3">
                    <table class = "table table-bordered table-hover"> <!--bordered table & hover & head colors-->
                        <thead class = "table-primary"><!--컬럼제목-->
                            <tr><!--행추가-->
                                <th>음식</th>
                                <th>음식점</th>
                                <th>재료</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><!--행을 추가-->
                                <td>김밥</td>
                                <td>후토루</td>
                                <td>연어, 김, 밥, 채소</td>
                            </tr>
                            <tr><!--행을 추가-->
                                <td>자장면</td>
                                <td>아리산</td>
                                <td>삼겹살, 고추, 밀가루, 자장</td>
                            </tr>
                            <tr><!--행을 추가-->
                                <td>돈까스</td>
                                <td>동백카츠</td>
                                <td>안심, 등심, 항정살, 밥, 채소</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class = "row">
            <div class = "col-md-4">
                <div class = "container mt-3">
                    <div class="table-responsive">
                        <table class = "table table-bordered">
                            <thead class = "table-success">
                                <tr>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                    <th>1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class = "col-md-4">
                <div class = "container">
                    <p>참잘했어여</p>
                    <img src = "good.png" class = "rounded" alt = "good" width = "300" height = "230">  <!---->
                </div>
            </div>
        </div>


    </div>






</body>
</html>